<div class="tabs is-centered">
  <ul>
    <li class="is-active"><a>Pictures</a></li>
    <li><a>即時排行</a></li>
    <li><a>Top100</a></li>
    <li><a>家電</a></li>
    <li><a>科技</a></li>
    <li><a>鞋包配件</a></li>
    <li><a>運動戶外</a></li>
  </ul>
</div>
